In [68]:
import pandas as pd
import numpy as np
import os
import glob

In [69]:
###Firstly, merging multiple files together
os.chdir(r'C:\\Users\\tchen\\Documents\\Data science\\Recommender_System_Project\\yelp_scraped_ratings')

files = glob.glob('*.csv')


combined_csv_df = pd.concat([pd.read_csv(file) for file in files ]).reset_index()

In [70]:
combined_csv_df.drop(columns = ['index', 'Unnamed: 0'], axis = 1, inplace = True)

In [71]:
combined_csv_df.columns

Index(['reviews', 'restaurant names', 'Rating', 'restaruant name',
       'restaurant name'],
      dtype='object')

In [72]:
combined_csv_df.head(5)

         reviews   restaurant names  Rating restaruant name restaurant name
0  3 star rating  ella-elli-chicago     3.0             NaN             NaN
1  3 star rating  ella-elli-chicago     3.0             NaN             NaN
2  4 star rating  ella-elli-chicago     4.0             NaN             NaN
3  4 star rating  ella-elli-chicago     4.0             NaN             NaN
4  4 star rating  ella-elli-chicago     4.0             NaN             NaN

In [73]:
combined_csv_df.head(5)

         reviews   restaurant names  Rating restaruant name restaurant name
0  3 star rating  ella-elli-chicago     3.0             NaN             NaN
1  3 star rating  ella-elli-chicago     3.0             NaN             NaN
2  4 star rating  ella-elli-chicago     4.0             NaN             NaN
3  4 star rating  ella-elli-chicago     4.0             NaN             NaN
4  4 star rating  ella-elli-chicago     4.0             NaN             NaN

In [74]:
###Next step: merge the restaurant names columns together
#HOW TO DO IT: use fillna on the main column and fill with the values of anotehr column

In [75]:
combined_csv_df['restaurant names'].fillna(value = combined_csv_df['restaruant name'], inplace = True)
combined_csv_df['restaurant names'].fillna(value = combined_csv_df['restaurant name'], inplace = True)

In [80]:
combined_csv_df.drop(columns = 'restaruant name', axis = 1, inplace = True)

KeyError: "['restaruant name'] not found in axis"

In [21]:
combined_csv_df.drop(columns = 'restaurant name', axis = 1, inplace = True)

In [81]:
#combined_csv_df.to_csv("cleaned_restaurant_ratings.csv")

In [24]:
###Reviews is column 1, restaurant names is column 2, I want to change that

                        reviews   restaurant names
0             ella-elli-chicago  ella-elli-chicago
1                 3 star rating  ella-elli-chicago
2                 3 star rating  ella-elli-chicago
3                 4 star rating  ella-elli-chicago
4                 4 star rating  ella-elli-chicago
...                         ...                ...
120596            5 star rating                  x
120597            5 star rating                  x
120598            5 star rating                  x
120599        testaccio-chicago                  x
120600  hawaiian-bros-chicago-3                  x

[120601 rows x 2 columns]

In [82]:
combined_csv_df['reviews'][1][0]

'3'

In [ ]:
first_words = data.apply(lambda x: x.str.split().str[0])

In [ ]:
#Getting first letter of each row
combined_csv_df['Rating'] = combined_csv_df['reviews'].str.get(0)

In [ ]:
#Getting all ratings
cleaned_df = combined_csv_df[combined_csv_df['Rating'].str.contains('1|2|3|4|5', regex = True) == True]

In [ ]:
cleaned_df['Rating'].value_counts()

In [ ]:
#cleaned_df.to_csv("fully_cleaned_yelp_ratings.csv")

In [87]:
df_orig = pd.read_csv("C:\\Users\\tchen\\Documents\\Data science\\Recommender_System_Project\\raw data.csv")

In [89]:
##For each alias, I want to return the name

0                      The Warbler
1                The Whale Chicago
2                       The Duplex
3                           Gather
4       Sfera Sicilian Street Food
                   ...
4039           Beverly Pizza House
4040                        Subway
4041                   Burger King
4042    Pepe's Mexican Restaurants
4043                        Subway
Name: name, Length: 4044, dtype: object

In [94]:
df_orig.head(5)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
0,XOLX_XVqY776i6PyIHp_6Q,the-warbler-chicago-2,The Warbler,https://s3-media4.fl.yelpcdn.com/bphoto/WREgCe...,False,https://www.yelp.com/biz/the-warbler-chicago-2...,298,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 41.9642255519757, 'longitude': -8...",['delivery'],"{'address1': '4535 N Lincoln Ave', 'address2':...",1.773681e+10,(773) 681-0950,2341.103233,$$
1,zm6Peew9j8YtowzUu4sQfA,the-whale-chicago-chicago,The Whale Chicago,https://s3-media1.fl.yelpcdn.com/bphoto/_IM1aG...,False,https://www.yelp.com/biz/the-whale-chicago-chi...,495,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 41.92555, 'longitude': -87.70112}",['delivery'],"{'address1': '2427 N Milwaukee Ave', 'address2...",1.773825e+10,(773) 825-2900,2439.380556,$$
2,PPT5QcrMNZrwBDv99-wx3w,the-duplex-chicago,The Duplex,https://s3-media4.fl.yelpcdn.com/bphoto/wmVQG6...,False,https://www.yelp.com/biz/the-duplex-chicago?ad...,19,"[{'alias': 'restaurants', 'title': 'Restaurant...",4.0,"{'latitude': 41.9277, 'longitude': -87.70639}",[],"{'address1': '3137 W Logan Blvd', 'address2': ...",1.773697e+10,(773) 697-4153,2221.761713,NaN
3,WODBuNjlEgNIf459Wh-AWw,gather-chicago,Gather,https://s3-media1.fl.yelpcdn.com/bphoto/pU4EqN...,False,https://www.yelp.com/biz/gather-chicago?adjust...,872,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",4.5,"{'latitude': 41.9643402, 'longitude': -87.6853...",['delivery'],"{'address1': '4539 N Lincoln Ave', 'address2':...",1.773507e+10,(773) 506-9300,2348.300252,$$
4,i4XqZskG5NS4eOtllXa-Ug,sfera-sicilian-street-food-chicago,Sfera Sicilian Street Food,https://s3-media3.fl.yelpcdn.com/bphoto/2MaTw6...,False,https://www.yelp.com/biz/sfera-sicilian-street...,24,"[{'alias': 'sicilian', 'title': 'Sicilian'}]",5.0,"{'latitude': 41.94535997207471, 'longitude': -...","['pickup', 'delivery']","{'address1': '3517 N Spaulding Ave', 'address2...",1.847957e+10,(847) 957-3045,605.830557,NaN

In [100]:
df_orig[df_orig['alias'] == 'gather-chicago']

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,location,phone,display_phone,distance,price
3,WODBuNjlEgNIf459Wh-AWw,gather-chicago,Gather,https://s3-media1.fl.yelpcdn.com/bphoto/pU4EqN...,False,https://www.yelp.com/biz/gather-chicago?adjust...,872,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",4.5,"{'latitude': 41.9643402, 'longitude': -87.6853...",['delivery'],"{'address1': '4539 N Lincoln Ave', 'address2':...",1.773507e+10,(773) 506-9300,2348.300252,$$

In [102]:
df_orig['alias'].loc['gather-chicago']

KeyError: 'gather-chicago'

In [122]:
df3 = cleaned_df.set_index('restaurant names')

KeyError: "None of ['restaurant names'] are in the columns"

In [130]:
cleaned_df.reset_index(inplace = True)

In [128]:
cleaned_df['restaurant names']

KeyError: 'restaurant names'

In [134]:
cleaned_df.loc('ella-elli-chicago')

ValueError: No axis named ella-elli-chicago for object type <class 'pandas.core.frame.DataFrame'>

In [142]:
cleaned_df.loc[cleaned_df['restaurant names'] == 'ella-elli-chicago']

         restaurant names        reviews Rating
0       ella-elli-chicago  3 star rating      3
1       ella-elli-chicago  3 star rating      3
2       ella-elli-chicago  4 star rating      4
3       ella-elli-chicago  4 star rating      4
4       ella-elli-chicago  4 star rating      4
...                   ...            ...    ...
109778  ella-elli-chicago  5 star rating      5
109779  ella-elli-chicago  5 star rating      5
109780  ella-elli-chicago  5 star rating      5
109781  ella-elli-chicago  5 star rating      5
109782  ella-elli-chicago  5 star rating      5

[280 rows x 3 columns]

In [143]:
cleaned_df['']

         restaurant names        reviews Rating
0       ella-elli-chicago  3 star rating      3
1       ella-elli-chicago  3 star rating      3
2       ella-elli-chicago  4 star rating      4
3       ella-elli-chicago  4 star rating      4
4       ella-elli-chicago  4 star rating      4
...                   ...            ...    ...
116517                  x  5 star rating      5
116518                  x  5 star rating      5
116519                  x  5 star rating      5
116520                  x  5 star rating      5
116521                  x  5 star rating      5

[116522 rows x 3 columns]