In [1]:
import pandas as pd
import numpy as np
import os
import flask
import pickle

In [2]:
df_merged = pd.read_pickle("./df_merged.pkl")

In [10]:
###Improving srs_model function

def srs_model(percentage):
    percentage = float(percentage)
    emp_arr = []
    name_arr = []
    for i in df_merged['Name']:
    
        V = df_merged[df_merged['Name'] == str(i)]['Count']
        M = df_merged['Count'].quantile(percentage)
        R =  df_merged[df_merged['Name'] == str(i) ]['Rating']
        C = df_merged['Rating'].mean()

        WR = ((V/(V+M))*R) + ((M/(V+M)) * C)
        
        emp_arr.append(WR.values[0])
        name_arr.append(i)
    zip1 = zip(name_arr, emp_arr)
    df_new = pd.DataFrame(zip1, columns = ['name', 'rating'])
    df_new = df_new.sort_values(by = 'rating', ascending = False)
    return df_new #Add a sort function to this model
##Conclusion, I think the model works but I need to sort the data out so the top 10-20 list changes

In [11]:
srs_model(str(.85))

                                    name    rating
1809  sfera-sicilian-street-food-chicago  4.749664
1994                  take-a-bao-chicago  4.749664
1540                    penumbra-chicago  4.606520
2170     the-welcome-back-lounge-chicago  4.593548
575          dulce-de-leche-cafe-chicago  4.565497
...                                  ...       ...
1625   potbelly-sandwich-shop-chicago-77  3.058516
2280                    wendys-chicago-2  2.973545
1421          nicky-s-of-beverly-chicago  2.944763
264         buffalo-wild-wings-chicago-6  2.837421
1850                smash-burger-chicago  2.718243

[2364 rows x 2 columns]