In [47]:
import pandas as pd
import numpy as np
import os
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

df = pd.read_csv("C:\\Users\\tchen\\Documents\\Data science\\webapp_content_recommender\\content_recommender_final1.csv")

df = df.drop(columns = ['Unnamed: 0'], axis = 1)

#Getting TF value
from sklearn.feature_extraction.text import TfidfVectorizer
#TF-IDF vecotrizer object - removes all stop words
tfidf = TfidfVectorizer(stop_words = 'english')

#Construct the tfidf matrix by fitting and transforming the data to count/calculate the TF score AND IDF score
tfidf_matrix = tfidf.fit_transform(df['no stop words review']) ##Calcualtes the Tfidf values for us

print(tfidf_matrix.shape)
##From the terms, you have the vocabulary list of all unique words for all restaurants
##Types of similarity matrixes = manhattan euclidean, Pearson, cosine similairty score

#Calculating Cosine similarity score through inear_kernal instead of cosine_similarities() function since it is faster

from sklearn.metrics.pairwise import linear_kernel

#Compute cosine similarity using linear_kernal (which multiples x^Ty)
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix) ####ERROR: Memory error, how to fix?

print(cosine_sim.shape)


##Construct a reverse map of indices and movie titles
indices = pd.Series(df.index, index = df['restaurant name']).drop_duplicates()

##Construct that will take in the restaurant name and output the most ismilar movies;:

def get_recommendations(name, cosine_sim = cosine_sim):
    #Get the index of the movei that matches the title
    idx = indices[name]
    
    #Get the pairwise similarity score of all movie with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    #Sort the moveis based on the simialrity cores
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    
    #Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]
    
    #get the movie indices 
    restaurant_indices = [i[0] for i in sim_scores]
    
    #Return the top 10 most similar movies
    df_return = df['restaurant name'].iloc[restaurant_indices]
    return df_return.to_frame()

(1799, 36884)
(1799, 1799)

In [50]:
get_recommendations('1959-kitchen-and-bar-chicago')

                                 restaurant name
1501        sweetwater-tavern-and-grille-chicago
1414                     sociale-chicago-chicago
521                          first-draft-chicago
261   centennial-crafted-beer-and-eatery-chicago
938                               luxbar-chicago
173                  bourbon-on-division-chicago
711                  innjoy-logan-square-chicago
1421        south-branch-tavern-grille-chicago-2
85                          ballpark-pub-chicago
277                   cherry-circle-room-chicago

In [42]:
df_2.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>restaurant name</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1501</th>\n      <td>sweetwater-tavern-and-grille-chicago</td>\n    </tr>\n    <tr>\n      <th>1414</th>\n      <td>sociale-chicago-chicago</td>\n    </tr>\n    <tr>\n      <th>521</th>\n      <td>first-draft-chicago</td>\n    </tr>\n    <tr>\n      <th>261</th>\n      <td>centennial-crafted-beer-and-eatery-chicago</td>\n    </tr>\n    <tr>\n      <th>938</th>\n      <td>luxbar-chicago</td>\n    </tr>\n    <tr>\n      <th>173</th>\n      <td>bourbon-on-division-chicago</td>\n    </tr>\n    <tr>\n      <th>711</th>\n      <td>innjoy-logan-square-chicago</td>\n    </tr>\n    <tr>\n      <th>1421</th>\n      <td>south-branch-tavern-grille-chicago-2</td>\n    </tr>\n    <tr>\n      <th>85</th>\n      <td>ballpark-pub-chicago</td>\n    </tr>\n    <tr>\n      <th>277</th>\n      <td>cherry-circle-room-chicago</td>\n    </tr>\n  </tbody>\n</table>'

In [33]:
df_return.to_frame()

                                 restaurant name
1501        sweetwater-tavern-and-grille-chicago
1414                     sociale-chicago-chicago
521                          first-draft-chicago
261   centennial-crafted-beer-and-eatery-chicago
938                               luxbar-chicago
173                  bourbon-on-division-chicago
711                  innjoy-logan-square-chicago
1421        south-branch-tavern-grille-chicago-2
85                          ballpark-pub-chicago
277                   cherry-circle-room-chicago

In [46]:
df_return.columns.values

array(['restaurant name'], dtype=object)